<main class='container'>
    <section class='row'>
      <% if @restaurants.any? %>
      
      <% @restaurants.each do |restaurant| %>
      <article class='post col-sm-6 col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= restaurant.name %> | <%= restaurant.location_name %></h3>
            </div>
            <div class="panel-body">
               
        <h3>Average Rating: <%= star_rating(restaurant.average_rating) %></h3>
        <h4><%= restaurant.address %></h4>
        <h4><%= restaurant.phone_number %></h4>
    
        <ul class="mainlist">
          <% restaurant.reviews.each do |review| %>
          <li class="eachlistitem"><%= "#{review.comments} (#{star_rating(review.rating)})"
          %>
          <em>Posted: <%= time_ago_in_words(review.created_at) %></em>
          <span class='likes_count'>
          <%= review.likes.count %> 
          </span> likes
          <%= link_to 'Likes', review_likes_path(review), class: 'like-link' %>
        </li>
          <% end %>
        </ul>
              <div class="panel-footer"> 
                  <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
                  <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>

                <% unless restaurant.has_been_reviewed_by?(current_user) %>
                  <%= link_to "Review #{restaurant.name}, #{restaurant.location_name}",new_restaurant_review_path(restaurant) %>
                <% end %>
              </div>
            </div>
          </div>
      
      </article>
    <% end %>
    </section>
  <% else %>
  	No restaurants yet
  <% end %>
  <%= link_to 'Add a restaurant', new_restaurant_path %>
</main>


